@charset "UTF-8"; /* UTF-8編碼，使中文不會產生亂碼*/
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); /* google雲端字體 思源黑體*/
/* CSS Document */
/* body */

    
    img{
      width: 350px;
      height: 350px;
      position: absolute;
      top:70%;
      left:55%
    }
    body {
      background-image: url("https://storage.movie6.com/movie/22b3d_1_1650506622.jpg"); opacity: 0.9;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 200px;
      background-size:cover;
     
      
    }
	iframe
    {
  
      width: 350px;
      height: 200px;
      position: absolute;
      top:3%;
      left:55%;
    }
    
    div
    {
    background-color: rgb(150, 177, 181);
    top:30%;
	  height: 200px;
    width: 1500px;
    }
    footer
    {
      background-color: rgb(150, 177, 181);
      width: 1500px;
    }
    a{
      
      position: absolute;
      top:37.5%;
      left:55%;
    }
   
    h3
    {
      position: absolute;
      top:29.5%;
      left:55%;
    }
    main
    {
      color: aliceblue;
    }
    a:link {
      color: red;
    }
    
    
    a:visited {
      color: green;
    }
    
   
    a:hover {
      color: hotpink;
    }
    
    
    a:active {
      color: blue;
    }
  